---
layout: page
---

{{ content }}
<h1>{{ page.title }}</h1>

{% assign title = page.slug | downcase %}
{% assign my_array = site.categories[title] | sort %}
{% for post in my_array %}
<article class="b-post b-post_main clearfix">
    <div class="entry-main">
        <div class="entry-header">
            <h2 class="entry-title"><a href="{{ post.url }}">{{ post._title }}</a></h2>
        </div>
        <div class="entry-content">{{ post.excerpt }}</div>
        <div class="entry-footer"><a class="btn-bd-primary" href="{{ post.url }}">Читать далее</a>
        </div>
    </div>
</article>
{% endfor %}
