<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ru" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="section-type-10" aria-label="Content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <section class="section-area">
        {{ content }}

                    </section>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </main>

    {% include footer.html %}

  </body>

</html>
