<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ru" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="section-type-10" aria-label="Content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <section class="section-area">
        {{ content }}

                    </section>
                </div>
                <div class="col-md-4">
                <section class="b-post b-post_img-left b-post_img-65 bg-grey-2 clearfix">
                                  
                                  <p>Внутренний прогресс или ускоренная внутренняя эволюция, духовный путь или познание Главного. Названий много, но суть одна: стань ЧЕЛОВЕКОМ, познавшим истину своего Бытия. Нам не должно быть дела, куда катится мир в ад или в рай. <br> Мы должны найти каждый свою волшебную мантру, молитву, медитацию, или просто свой способ внутренней концентрации, установить их в себе, поддерживать их, а со временем мы увидим как трансформируются наши несовершенства.</p>
                                </section>
                </div>
            </div>
        </div>
    </main>

    {% include footer.html %}

  </body>

</html>
